.product-list__head {
    display: flex;
    justify-content: flex-end;

    margin-right: 2rem;
}

.product-list__head .search {
    position: relative;
}

.product-list__head .search input {
    width: 300px;
    border-radius: 0.4rem;

    margin: 1rem 0.2rem;
    padding: 0.4rem 30px 0.4rem 0.4rem;

    background-color: var(--color-white);
    color: var(--color-primary);
}

.product-list__head .search .react-icons {
    position: absolute;
    right: 15px;

    color: var(--color-primary);

    top: 50%;
    transform: translateY(-50%);
}

.product-list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    padding: 1rem 5rem;

    /* Fix width for big screen*/
    max-width: 1600px;
    margin: 0 auto;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .product-list__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .product-list__container {
        grid-template-columns: 1fr;
    }
}