#header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--header-height);

    text-align: center;

    background-color: var(--color-bg-variant);

    z-index: 1;
}

/* ================ LOGO ================= */
#header .logo {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

#header .logo img {
    width: 100px;
}

/* ================ MENU ================= */
#header .menu {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

#header .menu a {
    color: var(--color-primary-variant);

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;

    padding: 1rem;

    transition: var(--transition);
}

#header .menu a:hover {
    opacity: 0.6;
}

/* ================ CART ================= */
#header .menu .cart {
    display: inline-block;
    vertical-align: middle;

    position: relative;
}

#header .menu .cart .react-icons {
    color: var(--color-primary-variant);

    font-size: 1.6rem;
}

#header .menu .cart .cart-count {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -60%;
    right: -60%;

    background-color: var(--color-primary-variant);
    color: var(--color-primary);

    height: 20px;
    width: 20px;

    border-radius: 5rem;
}

/* ================ BREADCRUMBS ================= */
.breadcrumbs {
    height: var(--breadcrumbs-height);
}

.breadcrumbs span:not(:last-child):after {
    content: " > ";
    color: var(--color-primary);
}

.breadcrumbs a.active {
    color: var(--color-primary-variant);
}