.breadcrumbs {
    height: var(--breadcrumbs-height);
}

.breadcrumbs span:not(:last-child):after {
    content: " > ";
    color: var(--color-primary);
}

.breadcrumbs a.active {
    color: var(--color-primary-variant);
}