@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--color-bg: #d9d9d9;
	--color-bg-variant: #051840;
	--color-primary: #02516B;
	--color-primary-variant: #DE9801;
	--color-white: #FFFFFF;
	--color-light: #E5E5E5;

	--header-height: 100px;
	--footer-height: 40px;

	--transition: all 400ms ease;
}

body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: var(--color-bg);
	color: var(--color-white);

	margin-top: var(--header-height);
	margin-bottom: var(--footer-height);
}

.react-icons {
	vertical-align: middle;
}